<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>gameUI_000000</key>
      <dict>
        <key>frame</key>
        <string>{{122,353},{11,26}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{9,24}</string>
      </dict>
      <key>gameUI_000001</key>
      <dict>
        <key>frame</key>
        <string>{{0,319},{122,80}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{120,78}</string>
      </dict>
      <key>gameUI_000002</key>
      <dict>
        <key>frame</key>
        <string>{{558,204},{126,123}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{124,121}</string>
      </dict>
      <key>gameUI_000003</key>
      <dict>
        <key>frame</key>
        <string>{{432,204},{126,123}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{124,121}</string>
      </dict>
      <key>gameUI_000004</key>
      <dict>
        <key>frame</key>
        <string>{{306,204},{126,123}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{124,121}</string>
      </dict>
      <key>gameUI_000005</key>
      <dict>
        <key>frame</key>
        <string>{{180,270},{126,123}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{124,121}</string>
      </dict>
      <key>gameUI_000006</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{571,204}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{569,202}</string>
      </dict>
      <key>gameUI_000007</key>
      <dict>
        <key>frame</key>
        <string>{{571,86},{66,98}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{64,96}</string>
      </dict>
      <key>gameUI_000008</key>
      <dict>
        <key>frame</key>
        <string>{{571,0},{87,86}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{85,84}</string>
      </dict>
      <key>gameUI_000009</key>
      <dict>
        <key>frame</key>
        <string>{{0,270},{180,49}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{178,47}</string>
      </dict>
      <key>gameUI_000010</key>
      <dict>
        <key>frame</key>
        <string>{{0,204},{280,66}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{278,64}</string>
      </dict>
      <key>gameUI_000011</key>
      <dict>
        <key>frame</key>
        <string>{{122,319},{45,34}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{43,32}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>flaxVersion</key>
      <real>2.33</real>
      <key>fps</key>
      <integer>24</integer>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>gameUI.png</string>
      <key>size</key>
      <string>{772,404}</string>
      <key>textureFileName</key>
      <string>gameUI.png</string>
    </dict>
    <key>displays</key>
    <dict>
      <key>asset1</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>0.62222</real>
        <key>anchorY</key>
        <real>0.51875</real>
        <key>start</key>
        <integer>0</integer>
        <key>end</key>
        <integer>0</integer>
      </dict>
      <key>asset10</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>0.50000</real>
        <key>anchorY</key>
        <real>0.48718</real>
        <key>start</key>
        <integer>1</integer>
        <key>end</key>
        <integer>1</integer>
      </dict>
      <key>asset11</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>-0.04032</real>
        <key>anchorY</key>
        <real>1.04132</real>
        <key>start</key>
        <integer>2</integer>
        <key>end</key>
        <integer>2</integer>
      </dict>
      <key>asset12</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>-0.04032</real>
        <key>anchorY</key>
        <real>1.04132</real>
        <key>start</key>
        <integer>3</integer>
        <key>end</key>
        <integer>3</integer>
      </dict>
      <key>asset13</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>-0.04032</real>
        <key>anchorY</key>
        <real>1.04132</real>
        <key>start</key>
        <integer>4</integer>
        <key>end</key>
        <integer>4</integer>
      </dict>
      <key>asset14</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>-0.04032</real>
        <key>anchorY</key>
        <real>1.04132</real>
        <key>start</key>
        <integer>5</integer>
        <key>end</key>
        <integer>5</integer>
      </dict>
      <key>asset15</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>0.50264</real>
        <key>anchorY</key>
        <real>0.49010</real>
        <key>start</key>
        <integer>6</integer>
        <key>end</key>
        <integer>6</integer>
      </dict>
      <key>asset16</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>0.00000</real>
        <key>anchorY</key>
        <real>1.00000</real>
        <key>start</key>
        <integer>7</integer>
        <key>end</key>
        <integer>7</integer>
      </dict>
      <key>asset17</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>0.51176</real>
        <key>anchorY</key>
        <real>0.48214</real>
        <key>start</key>
        <integer>8</integer>
        <key>end</key>
        <integer>8</integer>
      </dict>
      <key>asset2</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>0.48315</real>
        <key>anchorY</key>
        <real>0.51064</real>
        <key>start</key>
        <integer>9</integer>
        <key>end</key>
        <integer>9</integer>
      </dict>
      <key>asset4</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>0.44011</real>
        <key>anchorY</key>
        <real>0.48359</real>
        <key>start</key>
        <integer>10</integer>
        <key>end</key>
        <integer>10</integer>
      </dict>
      <key>asset5</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>0.50000</real>
        <key>anchorY</key>
        <real>0.51563</real>
        <key>start</key>
        <integer>11</integer>
        <key>end</key>
        <integer>11</integer>
      </dict>
    </dict>
    <key>mcs</key>
    <dict>
      <key>asset6</key>
      <dict>
        <key>type</key>
        <string>button</string>
        <key>totalFrames</key>
        <integer>1</integer>
        <key>rect</key>
        <string>0,0,120.00,78.00</string>
        <key>anchorX</key>
        <real>0.50000</real>
        <key>anchorY</key>
        <real>0.47436</real>
        <key>children</key>
        <dict>
          <key>i1412</key>
          <dict>
            <key>class</key>
            <string>asset10</string>
            <key>zIndex</key>
            <integer>0</integer>
            <key>frames</key>
            <string>60.00,38.00,0.00,1.00000,1.00000,1.00,0,0.00,0.00</string>
          </dict>
        </dict>
      </dict>
      <key>gameUI_pauseButton_as</key>
      <dict>
        <key>type</key>
        <string>button</string>
        <key>totalFrames</key>
        <integer>1</integer>
        <key>rect</key>
        <string>0,0,95.00,93.00</string>
        <key>anchorX</key>
        <real>0.50000</real>
        <key>anchorY</key>
        <real>0.50000</real>
        <key>children</key>
        <dict>
          <key>i1438</key>
          <dict>
            <key>class</key>
            <string>asset17</string>
            <key>zIndex</key>
            <integer>0</integer>
            <key>frames</key>
            <string>47.50,46.50,0.00,1.00000,1.00000,1.00,0,0.00,0.00</string>
          </dict>
        </dict>
      </dict>
      <key>pauseUI_homeButton_as</key>
      <dict>
        <key>type</key>
        <string>button</string>
        <key>totalFrames</key>
        <integer>1</integer>
        <key>rect</key>
        <string>0,0,136.00,134.00</string>
        <key>anchorX</key>
        <real>0.49228</real>
        <key>anchorY</key>
        <real>0.51343</real>
        <key>children</key>
        <dict>
          <key>i1464</key>
          <dict>
            <key>class</key>
            <string>asset14</string>
            <key>zIndex</key>
            <integer>0</integer>
            <key>frames</key>
            <string>0.00,134.00,0.00,1.00000,1.00000,1.00,0,0.00,0.00</string>
          </dict>
        </dict>
      </dict>
      <key>pauseUI_playButton_as</key>
      <dict>
        <key>type</key>
        <string>button</string>
        <key>totalFrames</key>
        <integer>1</integer>
        <key>rect</key>
        <string>0,0,136.00,134.00</string>
        <key>anchorX</key>
        <real>0.49228</real>
        <key>anchorY</key>
        <real>0.51343</real>
        <key>children</key>
        <dict>
          <key>i1490</key>
          <dict>
            <key>class</key>
            <string>asset11</string>
            <key>zIndex</key>
            <integer>0</integer>
            <key>frames</key>
            <string>0.00,134.00,0.00,1.00000,1.00000,1.00,0,0.00,0.00</string>
          </dict>
        </dict>
      </dict>
      <key>gameUI_as</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>totalFrames</key>
        <integer>1</integer>
        <key>rect</key>
        <string>0,0,639.60,959.30</string>
        <key>anchorX</key>
        <real>0.50000</real>
        <key>anchorY</key>
        <real>0.50000</real>
        <key>children</key>
        <dict>
          <key>scoreText</key>
          <dict>
            <key>class</key>
            <string>null</string>
            <key>zIndex</key>
            <integer>3</integer>
            <key>frames</key>
            <string>5.00,915.10,0.00,1.00000,1.00000,1.00,3,0.00,0.00,Agency FB,30,#FFFFFF,center,104,38</string>
            <key>text</key>
            <string>score:</string>
            <key>input</key>
            <false/>
          </dict>
          <key>scoreNumberText</key>
          <dict>
            <key>class</key>
            <string>null</string>
            <key>zIndex</key>
            <integer>4</integer>
            <key>frames</key>
            <string>99.85,912.65,0.00,1.00000,1.00000,1.00,4,0.00,0.00,Agency FB,30,#FFFFFF,center,75,38</string>
            <key>text</key>
            <string>123999</string>
            <key>input</key>
            <false/>
          </dict>
          <key>i1520</key>
          <dict>
            <key>class</key>
            <string>asset2</string>
            <key>zIndex</key>
            <integer>2</integer>
            <key>frames</key>
            <string>92.30,934.30,0.00,1.00000,1.00000,1.00,2,0.00,0.00</string>
          </dict>
          <key>moneyNumberText</key>
          <dict>
            <key>class</key>
            <string>null</string>
            <key>zIndex</key>
            <integer>9</integer>
            <key>frames</key>
            <string>41.90,952.60,0.00,1.00000,1.00000,1.00,9,0.00,0.00,Agency FB Bold,24,#FFFF00,center,108,32</string>
            <key>text</key>
            <string>99999</string>
            <key>input</key>
            <false/>
          </dict>
          <key>ultNumberText</key>
          <dict>
            <key>class</key>
            <string>null</string>
            <key>zIndex</key>
            <integer>8</integer>
            <key>frames</key>
            <string>514.60,60.00,0.00,1.00000,1.00000,1.00,8,0.00,0.00,Agency FB,22,#FFFF00,center,40,29</string>
            <key>text</key>
            <string>x0</string>
            <key>input</key>
            <false/>
          </dict>
          <key>lives</key>
          <dict>
            <key>class</key>
            <string>gameUI_lives_as</string>
            <key>zIndex</key>
            <integer>6</integer>
            <key>frames</key>
            <string>113.60,30.15,0.00,1.00000,1.00000,1.00,6,0.00,0.00</string>
          </dict>
          <key>ult</key>
          <dict>
            <key>class</key>
            <string>asset6</string>
            <key>zIndex</key>
            <integer>0</integer>
            <key>frames</key>
            <string>579.60,37.00,0.00,1.00000,1.00000,1.00,0,0.00,0.00</string>
          </dict>
          <key>pauseButton</key>
          <dict>
            <key>class</key>
            <string>gameUI_pauseButton_as</string>
            <key>zIndex</key>
            <integer>10</integer>
            <key>frames</key>
            <string>586.00,909.95,0.00,1.00000,1.00000,1.00,10,0.00,0.00</string>
          </dict>
          <key>i1564</key>
          <dict>
            <key>class</key>
            <string>asset5</string>
            <key>zIndex</key>
            <integer>7</integer>
            <key>frames</key>
            <string>38.00,936.50,0.00,1.00000,1.00000,1.00,7,0.00,0.00</string>
          </dict>
          <key>i1522</key>
          <dict>
            <key>class</key>
            <string>asset4</string>
            <key>zIndex</key>
            <integer>5</integer>
            <key>frames</key>
            <string>122.35,30.95,0.00,1.00000,1.00000,1.00,5,0.00,0.00</string>
          </dict>
          <key>i1518</key>
          <dict>
            <key>class</key>
            <string>asset2</string>
            <key>zIndex</key>
            <integer>1</integer>
            <key>frames</key>
            <string>92.30,891.15,0.00,1.00000,1.00000,1.00,1,0.00,0.00</string>
          </dict>
        </dict>
      </dict>
      <key>gameUI_lives_as</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>totalFrames</key>
        <integer>16</integer>
        <key>rect</key>
        <string>0,0,141.85,24.00</string>
        <key>anchorX</key>
        <real>0.48396</real>
        <key>anchorY</key>
        <real>0.51667</real>
        <key>children</key>
        <dict>
          <key>i1596</key>
          <dict>
            <key>class</key>
            <string>asset1</string>
            <key>zIndex</key>
            <integer>2</integer>
            <key>frames</key>
            <string>26.20,12.45,0.00,1.25992,1.00000,1.00,2,0.00,0.00|||||||||||||null||</string>
          </dict>
          <key>i1598</key>
          <dict>
            <key>class</key>
            <string>asset1</string>
            <key>zIndex</key>
            <integer>3</integer>
            <key>frames</key>
            <string>35.35,12.45,0.00,1.25992,1.00000,1.00,3,0.00,0.00||||||||||||null|||</string>
          </dict>
          <key>i1600</key>
          <dict>
            <key>class</key>
            <string>asset1</string>
            <key>zIndex</key>
            <integer>4</integer>
            <key>frames</key>
            <string>44.65,12.45,0.00,1.25992,1.00000,1.00,4,0.00,0.00|||||||||||null||||</string>
          </dict>
          <key>i1602</key>
          <dict>
            <key>class</key>
            <string>asset1</string>
            <key>zIndex</key>
            <integer>5</integer>
            <key>frames</key>
            <string>53.85,12.45,0.00,1.25992,1.00000,1.00,5,0.00,0.00||||||||||null|||||</string>
          </dict>
          <key>i1604</key>
          <dict>
            <key>class</key>
            <string>asset1</string>
            <key>zIndex</key>
            <integer>6</integer>
            <key>frames</key>
            <string>63.00,12.45,0.00,1.25992,1.00000,1.00,6,0.00,0.00|||||||||null||||||</string>
          </dict>
          <key>i1606</key>
          <dict>
            <key>class</key>
            <string>asset1</string>
            <key>zIndex</key>
            <integer>7</integer>
            <key>frames</key>
            <string>72.20,12.45,0.00,1.25992,1.00000,1.00,7,0.00,0.00||||||||null|||||||</string>
          </dict>
          <key>i1608</key>
          <dict>
            <key>class</key>
            <string>asset1</string>
            <key>zIndex</key>
            <integer>8</integer>
            <key>frames</key>
            <string>81.40,12.45,0.00,1.25992,1.00000,1.00,8,0.00,0.00|||||||null||||||||</string>
          </dict>
          <key>i1610</key>
          <dict>
            <key>class</key>
            <string>asset1</string>
            <key>zIndex</key>
            <integer>9</integer>
            <key>frames</key>
            <string>90.55,12.45,0.00,1.25992,1.00000,1.00,9,0.00,0.00||||||null|||||||||</string>
          </dict>
          <key>i1612</key>
          <dict>
            <key>class</key>
            <string>asset1</string>
            <key>zIndex</key>
            <integer>10</integer>
            <key>frames</key>
            <string>99.80,12.45,0.00,1.25992,1.00000,1.00,10,0.00,0.00|||||null||||||||||</string>
          </dict>
          <key>i1614</key>
          <dict>
            <key>class</key>
            <string>asset1</string>
            <key>zIndex</key>
            <integer>11</integer>
            <key>frames</key>
            <string>109.00,12.45,0.00,1.25992,1.00000,1.00,11,0.00,0.00||||null|||||||||||</string>
          </dict>
          <key>i1616</key>
          <dict>
            <key>class</key>
            <string>asset1</string>
            <key>zIndex</key>
            <integer>12</integer>
            <key>frames</key>
            <string>117.70,12.45,0.00,1.25992,1.00000,1.00,12,0.00,0.00|||null||||||||||||</string>
          </dict>
          <key>i1618</key>
          <dict>
            <key>class</key>
            <string>asset1</string>
            <key>zIndex</key>
            <integer>13</integer>
            <key>frames</key>
            <string>127.75,12.45,0.00,1.25992,1.00000,1.00,13,0.00,0.00||null|||||||||||||</string>
          </dict>
          <key>i1620</key>
          <dict>
            <key>class</key>
            <string>asset1</string>
            <key>zIndex</key>
            <integer>14</integer>
            <key>frames</key>
            <string>137.55,12.45,0.00,1.25992,1.00000,1.00,14,0.00,0.00|null||||||||||||||</string>
          </dict>
          <key>i1592</key>
          <dict>
            <key>class</key>
            <string>asset1</string>
            <key>zIndex</key>
            <integer>0</integer>
            <key>frames</key>
            <string>7.05,12.45,0.00,1.25992,1.00000,1.00,0,0.00,0.00|||||||||||||||null</string>
          </dict>
          <key>i1594</key>
          <dict>
            <key>class</key>
            <string>asset1</string>
            <key>zIndex</key>
            <integer>1</integer>
            <key>frames</key>
            <string>17.05,12.45,0.00,1.25992,1.00000,1.00,1,0.00,0.00||||||||||||||null|</string>
          </dict>
        </dict>
      </dict>
      <key>pauseUI_as</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>totalFrames</key>
        <integer>1</integer>
        <key>rect</key>
        <string>0,0,640.00,960.00</string>
        <key>anchorX</key>
        <real>0.50000</real>
        <key>anchorY</key>
        <real>0.50000</real>
        <key>children</key>
        <dict>
          <key>maskLayer</key>
          <dict>
            <key>class</key>
            <string>asset16</string>
            <key>zIndex</key>
            <integer>0</integer>
            <key>frames</key>
            <string>0.00,960.00,0.00,10.00000,10.00000,1.00,0,0.00,0.00</string>
          </dict>
          <key>i1647</key>
          <dict>
            <key>class</key>
            <string>asset15</string>
            <key>zIndex</key>
            <integer>1</integer>
            <key>frames</key>
            <string>320.00,480.00,0.00,1.00000,1.00000,1.00,1,0.00,0.00</string>
          </dict>
          <key>homeButton</key>
          <dict>
            <key>class</key>
            <string>pauseUI_homeButton_as</string>
            <key>zIndex</key>
            <integer>2</integer>
            <key>frames</key>
            <string>154.20,480.00,0.00,1.00000,1.00000,1.00,2,0.00,0.00</string>
          </dict>
          <key>playButton</key>
          <dict>
            <key>class</key>
            <string>pauseUI_playButton_as</string>
            <key>zIndex</key>
            <integer>4</integer>
            <key>frames</key>
            <string>490.30,480.00,0.00,1.00000,1.00000,1.00,4,0.00,0.00</string>
          </dict>
          <key>soundButton</key>
          <dict>
            <key>class</key>
            <string>pauseUI_soundButton_as</string>
            <key>zIndex</key>
            <integer>3</integer>
            <key>frames</key>
            <string>322.25,480.00,0.00,1.00000,1.00000,1.00,3,0.00,0.00</string>
          </dict>
        </dict>
      </dict>
      <key>pauseUI_soundButton_as</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>totalFrames</key>
        <integer>2</integer>
        <key>rect</key>
        <string>0,0,136.00,134.00</string>
        <key>anchorX</key>
        <real>0.49228</real>
        <key>anchorY</key>
        <real>0.51343</real>
        <key>children</key>
        <dict>
          <key>i1707</key>
          <dict>
            <key>class</key>
            <string>asset13</string>
            <key>zIndex</key>
            <integer>0</integer>
            <key>frames</key>
            <string>null|0.00,134.00,0.00,1.00000,1.00000,1.00,0,0.00,0.00</string>
          </dict>
          <key>i1679</key>
          <dict>
            <key>class</key>
            <string>asset12</string>
            <key>zIndex</key>
            <integer>0</integer>
            <key>frames</key>
            <string>0.00,134.00,0.00,1.00000,1.00000,1.00,0,0.00,0.00|null</string>
          </dict>
        </dict>
      </dict>
    </dict>
  </dict>
</plist>