<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>gameOver_000000</key>
      <dict>
        <key>frame</key>
        <string>{{582,347},{66,98}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{64,96}</string>
      </dict>
      <key>gameOver_000001</key>
      <dict>
        <key>frame</key>
        <string>{{581,795},{207,79}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{205,77}</string>
      </dict>
      <key>gameOver_000002</key>
      <dict>
        <key>frame</key>
        <string>{{0,103},{582,432}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{580,430}</string>
      </dict>
      <key>gameOver_000003</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{589,103}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{587,101}</string>
      </dict>
      <key>gameOver_000004</key>
      <dict>
        <key>frame</key>
        <string>{{581,625},{270,91}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{268,89}</string>
      </dict>
      <key>gameOver_000005</key>
      <dict>
        <key>frame</key>
        <string>{{581,535},{273,90}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{271,88}</string>
      </dict>
      <key>gameOver_000006</key>
      <dict>
        <key>frame</key>
        <string>{{0,535},{581,426}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{579,424}</string>
      </dict>
      <key>gameOver_000007</key>
      <dict>
        <key>frame</key>
        <string>{{305,961},{73,54}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{71,52}</string>
      </dict>
      <key>gameOver_000008</key>
      <dict>
        <key>frame</key>
        <string>{{440,961},{62,48}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{60,46}</string>
      </dict>
      <key>gameOver_000009</key>
      <dict>
        <key>frame</key>
        <string>{{0,961},{218,64}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{216,62}</string>
      </dict>
      <key>gameOver_000010</key>
      <dict>
        <key>frame</key>
        <string>{{582,103},{164,164}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{162,162}</string>
      </dict>
      <key>gameOver_000011</key>
      <dict>
        <key>frame</key>
        <string>{{581,716},{207,79}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{205,77}</string>
      </dict>
      <key>gameOver_000012</key>
      <dict>
        <key>frame</key>
        <string>{{581,874},{207,79}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{205,77}</string>
      </dict>
      <key>gameOver_000013</key>
      <dict>
        <key>frame</key>
        <string>{{582,267},{117,80}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{115,78}</string>
      </dict>
      <key>gameOver_000014</key>
      <dict>
        <key>frame</key>
        <string>{{378,961},{62,37}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{60,35}</string>
      </dict>
      <key>gameOver_000015</key>
      <dict>
        <key>frame</key>
        <string>{{218,961},{87,63}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{85,61}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>flaxVersion</key>
      <real>2.33</real>
      <key>fps</key>
      <integer>24</integer>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>gameOver.png</string>
      <key>size</key>
      <string>{1090,1032}</string>
      <key>textureFileName</key>
      <string>gameOver.png</string>
    </dict>
    <key>displays</key>
    <dict>
      <key>asset16</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>0.00000</real>
        <key>anchorY</key>
        <real>1.00000</real>
        <key>start</key>
        <integer>0</integer>
        <key>end</key>
        <integer>0</integer>
      </dict>
      <key>asset35</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>-0.01951</real>
        <key>anchorY</key>
        <real>1.10390</real>
        <key>start</key>
        <integer>1</integer>
        <key>end</key>
        <integer>1</integer>
      </dict>
      <key>asset36</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>-0.04310</real>
        <key>anchorY</key>
        <real>1.01965</real>
        <key>start</key>
        <integer>2</integer>
        <key>end</key>
        <integer>2</integer>
      </dict>
      <key>asset37</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>-0.01874</real>
        <key>anchorY</key>
        <real>1.02970</real>
        <key>start</key>
        <integer>3</integer>
        <key>end</key>
        <integer>3</integer>
      </dict>
      <key>asset38</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>0.50951</real>
        <key>anchorY</key>
        <real>0.40449</real>
        <key>start</key>
        <integer>4</integer>
        <key>end</key>
        <integer>4</integer>
      </dict>
      <key>asset39</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>0.50185</real>
        <key>anchorY</key>
        <real>0.51534</real>
        <key>start</key>
        <integer>5</integer>
        <key>end</key>
        <integer>5</integer>
      </dict>
      <key>asset40</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>-0.04491</real>
        <key>anchorY</key>
        <real>1.02830</real>
        <key>start</key>
        <integer>6</integer>
        <key>end</key>
        <integer>6</integer>
      </dict>
      <key>asset41</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>2.34507</real>
        <key>anchorY</key>
        <real>0.46058</real>
        <key>start</key>
        <integer>7</integer>
        <key>end</key>
        <integer>7</integer>
      </dict>
      <key>asset42</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>0.51667</real>
        <key>anchorY</key>
        <real>0.45652</real>
        <key>start</key>
        <integer>8</integer>
        <key>end</key>
        <integer>8</integer>
      </dict>
      <key>asset43</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>0.45856</real>
        <key>anchorY</key>
        <real>0.36290</real>
        <key>start</key>
        <integer>9</integer>
        <key>end</key>
        <integer>9</integer>
      </dict>
      <key>asset47</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>-0.01235</real>
        <key>anchorY</key>
        <real>1.01235</real>
        <key>start</key>
        <integer>10</integer>
        <key>end</key>
        <integer>10</integer>
      </dict>
      <key>asset48</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>0.51220</real>
        <key>anchorY</key>
        <real>0.46104</real>
        <key>start</key>
        <integer>11</integer>
        <key>end</key>
        <integer>11</integer>
      </dict>
      <key>asset49</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>0.51220</real>
        <key>anchorY</key>
        <real>0.46753</real>
        <key>start</key>
        <integer>12</integer>
        <key>end</key>
        <integer>12</integer>
      </dict>
      <key>asset50</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>0.50043</real>
        <key>anchorY</key>
        <real>0.50833</real>
        <key>start</key>
        <integer>13</integer>
        <key>end</key>
        <integer>13</integer>
      </dict>
      <key>asset51</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>-0.21917</real>
        <key>anchorY</key>
        <real>1.38571</real>
        <key>start</key>
        <integer>14</integer>
        <key>end</key>
        <integer>14</integer>
      </dict>
      <key>asset52</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>-0.04706</real>
        <key>anchorY</key>
        <real>1.08197</real>
        <key>start</key>
        <integer>15</integer>
        <key>end</key>
        <integer>15</integer>
      </dict>
    </dict>
    <key>mcs</key>
    <dict>
      <key>asset45</key>
      <dict>
        <key>type</key>
        <string>button</string>
        <key>totalFrames</key>
        <integer>1</integer>
        <key>rect</key>
        <string>0,0,217.00,99.00</string>
        <key>anchorX</key>
        <real>0.50230</real>
        <key>anchorY</key>
        <real>0.50505</real>
        <key>children</key>
        <dict>
          <key>i5110</key>
          <dict>
            <key>class</key>
            <string>asset49</string>
            <key>zIndex</key>
            <integer>0</integer>
            <key>frames</key>
            <string>109.00,50.00,0.00,1.00000,1.00000,1.00,0,0.00,0.00</string>
          </dict>
        </dict>
      </dict>
      <key>asset46</key>
      <dict>
        <key>type</key>
        <string>button</string>
        <key>totalFrames</key>
        <integer>1</integer>
        <key>rect</key>
        <string>0,0,218.00,99.00</string>
        <key>anchorX</key>
        <real>0.50000</real>
        <key>anchorY</key>
        <real>0.50000</real>
        <key>children</key>
        <dict>
          <key>i5136</key>
          <dict>
            <key>class</key>
            <string>asset48</string>
            <key>zIndex</key>
            <integer>0</integer>
            <key>frames</key>
            <string>109.00,49.50,0.00,1.00000,1.00000,1.00,0,0.00,0.00</string>
          </dict>
        </dict>
      </dict>
      <key>continueButton_as</key>
      <dict>
        <key>type</key>
        <string>button</string>
        <key>totalFrames</key>
        <integer>1</integer>
        <key>rect</key>
        <string>0,0,218.00,98.00</string>
        <key>anchorX</key>
        <real>0.51422</real>
        <key>anchorY</key>
        <real>0.50663</real>
        <key>children</key>
        <dict>
          <key>i5162</key>
          <dict>
            <key>class</key>
            <string>asset35</string>
            <key>zIndex</key>
            <integer>0</integer>
            <key>frames</key>
            <string>0.00,98.00,0.00,1.00000,1.00000,1.00,0,0.00,0.00</string>
          </dict>
        </dict>
      </dict>
      <key>gameFail</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>totalFrames</key>
        <integer>1</integer>
        <key>rect</key>
        <string>0,0,1444.00,960.00</string>
        <key>anchorX</key>
        <real>0.48411</real>
        <key>anchorY</key>
        <real>0.50000</real>
        <key>children</key>
        <dict>
          <key>maskLayer</key>
          <dict>
            <key>class</key>
            <string>asset16</string>
            <key>zIndex</key>
            <integer>0</integer>
            <key>frames</key>
            <string>379.05,960.00,0.00,10.00000,10.00000,1.00,0,0.00,0.00</string>
          </dict>
          <key>lost</key>
          <dict>
            <key>class</key>
            <string>lost_as</string>
            <key>zIndex</key>
            <integer>1</integer>
            <key>frames</key>
            <string>697.25,480.35,0.00,1.00000,1.00000,1.00,1,0.00,0.00</string>
          </dict>
        </dict>
      </dict>
      <key>gameVictory_as</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>totalFrames</key>
        <integer>1</integer>
        <key>rect</key>
        <string>0,0,1771.20,960.00</string>
        <key>anchorX</key>
        <real>0.46917</real>
        <key>anchorY</key>
        <real>0.50000</real>
        <key>children</key>
        <dict>
          <key>moneyNumberText</key>
          <dict>
            <key>class</key>
            <string>null</string>
            <key>zIndex</key>
            <integer>2</integer>
            <key>frames</key>
            <string>826.65,555.95,0.00,1.00000,1.00000,1.00,2,0.00,0.00,Agency FB,32,#FFFFFF,center,160,46</string>
            <key>text</key>
            <string>9999999</string>
            <key>input</key>
            <false/>
          </dict>
          <key>maskLayer</key>
          <dict>
            <key>class</key>
            <string>asset16</string>
            <key>zIndex</key>
            <integer>0</integer>
            <key>frames</key>
            <string>511.00,960.00,0.00,10.00000,10.00000,1.00,0,0.00,0.00</string>
          </dict>
          <key>scoreText</key>
          <dict>
            <key>class</key>
            <string>null</string>
            <key>zIndex</key>
            <integer>4</integer>
            <key>frames</key>
            <string>826.65,407.90,0.00,1.00000,1.00000,1.00,4,0.00,0.00,Agency FB,32,#FFFFFF,center,160,46</string>
            <key>text</key>
            <string>9999999</string>
            <key>input</key>
            <false/>
          </dict>
          <key>killEnemyNumber</key>
          <dict>
            <key>class</key>
            <string>null</string>
            <key>zIndex</key>
            <integer>3</integer>
            <key>frames</key>
            <string>826.65,485.90,0.00,1.00000,1.00000,1.00,3,0.00,0.00,Agency FB,32,#FFFFFF,center,160,46</string>
            <key>text</key>
            <string>9999999</string>
            <key>input</key>
            <false/>
          </dict>
          <key>continueButton</key>
          <dict>
            <key>class</key>
            <string>continueButton_as</string>
            <key>zIndex</key>
            <integer>5</integer>
            <key>frames</key>
            <string>834.10,259.95,0.00,1.00000,1.00000,1.00,5,0.00,0.00</string>
          </dict>
          <key>win</key>
          <dict>
            <key>class</key>
            <string>win_as</string>
            <key>zIndex</key>
            <integer>6</integer>
            <key>frames</key>
            <string>830.65,798.05,0.00,1.00000,1.00000,1.00,6,0.00,0.00</string>
          </dict>
          <key>i5218</key>
          <dict>
            <key>class</key>
            <string>asset36</string>
            <key>zIndex</key>
            <integer>1</integer>
            <key>frames</key>
            <string>516.20,738.35,0.00,1.00000,1.00000,1.00,1,0.00,0.00</string>
          </dict>
        </dict>
      </dict>
      <key>lost_as</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>totalFrames</key>
        <integer>14</integer>
        <key>rect</key>
        <string>0,0,1444.00,178.50</string>
        <key>anchorX</key>
        <real>0.48286</real>
        <key>anchorY</key>
        <real>0.55770</real>
        <key>children</key>
        <dict>
          <key>i5250</key>
          <dict>
            <key>class</key>
            <string>asset39</string>
            <key>zIndex</key>
            <integer>0</integer>
            <key>frames</key>
            <string>152.00,99.50,0.00,1.00000,1.00000,0.00,0,0.00,0.00|287.00,99.50,0.00,1.00000,1.00000,0.25,0,0.00,0.00|422.00,99.50,0.00,1.00000,1.00000,0.50,0,0.00,0.00|557.00,99.50,0.00,1.00000,1.00000,0.75,0,0.00,0.00|692.00,99.50,0.00,1.00000,1.00000,1.00,0,0.00,0.00|null||||||||</string>
          </dict>
          <key>i5252</key>
          <dict>
            <key>class</key>
            <string>asset39</string>
            <key>zIndex</key>
            <integer>1</integer>
            <key>frames</key>
            <string>1292.00,99.50,0.00,1.00000,1.00000,0.00,1,0.00,0.00|1142.00,99.50,0.00,1.00000,1.00000,0.25,1,0.00,0.00|992.00,99.50,0.00,1.00000,1.00000,0.50,1,0.00,0.00|842.00,99.50,0.00,1.00000,1.00000,0.75,1,0.00,0.00|692.00,99.50,0.00,1.00000,1.00000,1.00,1,0.00,0.00|null||||||||</string>
          </dict>
          <key>i5357</key>
          <dict>
            <key>class</key>
            <string>asset39</string>
            <key>zIndex</key>
            <integer>0</integer>
            <key>frames</key>
            <string>null|||||692.00,99.50,0.00,1.00000,1.00000,1.00,0,0.00,0.00||||||||</string>
          </dict>
          <key>i5359</key>
          <dict>
            <key>class</key>
            <string>asset39</string>
            <key>zIndex</key>
            <integer>1</integer>
            <key>frames</key>
            <string>null|||||692.00,99.50,0.00,1.00000,1.00000,1.00,1,0.00,0.00|||692.00,99.50,0.00,1.08334,1.08334,0.83,1,0.00,0.00|692.00,99.50,0.00,1.16667,1.16667,0.67,1,0.00,0.00|692.00,99.50,0.00,1.25000,1.25000,0.50,1,0.00,0.00|692.00,99.50,0.00,1.33334,1.33334,0.33,1,0.00,0.00|692.00,99.50,0.00,1.41667,1.41667,0.17,1,0.00,0.00|692.00,99.50,0.00,1.50000,1.50000,0.00,1,0.00,0.00</string>
          </dict>
        </dict>
      </dict>
      <key>reborn_as</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>totalFrames</key>
        <integer>1</integer>
        <key>rect</key>
        <string>0,0,640.00,960.00</string>
        <key>anchorX</key>
        <real>0.50000</real>
        <key>anchorY</key>
        <real>0.50000</real>
        <key>children</key>
        <dict>
          <key>i5299</key>
          <dict>
            <key>class</key>
            <string>asset51</string>
            <key>zIndex</key>
            <integer>8</integer>
            <key>frames</key>
            <string>400.00,494.95,0.00,1.00000,1.00000,1.00,8,0.00,0.00</string>
          </dict>
          <key>i5295</key>
          <dict>
            <key>class</key>
            <string>asset41</string>
            <key>zIndex</key>
            <integer>6</integer>
            <key>frames</key>
            <string>470.00,480.00,0.00,1.00000,1.00000,1.00,6,0.00,0.00</string>
          </dict>
          <key>i5287</key>
          <dict>
            <key>class</key>
            <string>asset43</string>
            <key>zIndex</key>
            <integer>2</integer>
            <key>frames</key>
            <string>329.60,627.80,0.00,1.00000,1.00000,1.00,2,0.00,0.00</string>
          </dict>
          <key>maskLayer</key>
          <dict>
            <key>class</key>
            <string>asset16</string>
            <key>zIndex</key>
            <integer>0</integer>
            <key>frames</key>
            <string>0.00,960.00,0.00,10.00000,10.00000,1.00,0,0.00,0.00</string>
          </dict>
          <key>i5293</key>
          <dict>
            <key>class</key>
            <string>asset47</string>
            <key>zIndex</key>
            <integer>5</integer>
            <key>frames</key>
            <string>96.80,555.20,0.00,1.00000,1.00000,1.00,5,0.00,0.00</string>
          </dict>
          <key>rebornMoneyNumberText</key>
          <dict>
            <key>class</key>
            <string>null</string>
            <key>zIndex</key>
            <integer>10</integer>
            <key>frames</key>
            <string>469.25,482.10,0.00,1.00000,1.00000,1.00,10,0.00,0.00,Agency FB,35,#FFFFFF,left,82,43</string>
            <key>text</key>
            <string>50</string>
            <key>input</key>
            <false/>
          </dict>
          <key>i5301</key>
          <dict>
            <key>class</key>
            <string>asset52</string>
            <key>zIndex</key>
            <integer>9</integer>
            <key>frames</key>
            <string>421.45,536.90,0.00,1.00000,1.00000,1.00,9,0.00,0.00</string>
          </dict>
          <key>i5279</key>
          <dict>
            <key>class</key>
            <string>asset40</string>
            <key>zIndex</key>
            <integer>1</integer>
            <key>frames</key>
            <string>10.25,712.30,0.00,1.00000,1.00000,1.00,1,0.00,0.00</string>
          </dict>
          <key>noButton</key>
          <dict>
            <key>class</key>
            <string>asset46</string>
            <key>zIndex</key>
            <integer>4</integer>
            <key>frames</key>
            <string>167.95,338.25,0.00,1.00000,1.00000,1.00,4,0.00,0.00</string>
          </dict>
          <key>yesButton</key>
          <dict>
            <key>class</key>
            <string>asset45</string>
            <key>zIndex</key>
            <integer>3</integer>
            <key>frames</key>
            <string>488.00,337.45,0.00,1.00000,1.00000,1.00,3,0.00,0.00</string>
          </dict>
          <key>i5297</key>
          <dict>
            <key>class</key>
            <string>asset42</string>
            <key>zIndex</key>
            <integer>7</integer>
            <key>frames</key>
            <string>233.10,436.95,0.00,1.00000,1.00000,1.00,7,0.00,0.00</string>
          </dict>
        </dict>
      </dict>
      <key>win_as</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>totalFrames</key>
        <integer>15</integer>
        <key>rect</key>
        <string>0,0,1771.20,182.55</string>
        <key>anchorX</key>
        <real>0.46898</real>
        <key>anchorY</key>
        <real>0.40838</real>
        <key>children</key>
        <dict>
          <key>i5363</key>
          <dict>
            <key>class</key>
            <string>asset38</string>
            <key>zIndex</key>
            <integer>1</integer>
            <key>frames</key>
            <string>null|||||830.65,74.55,0.00,1.00000,1.00000,1.00,1,0.00,0.00|||830.65,74.55,0.00,1.07143,1.07143,0.86,1,0.00,0.00|830.65,74.55,0.00,1.14287,1.14287,0.71,1,0.00,0.00|830.65,74.55,0.00,1.21429,1.21429,0.57,1,0.00,0.00|830.65,74.55,0.00,1.28572,1.28572,0.43,1,0.00,0.00|830.65,74.55,0.00,1.35715,1.35715,0.29,1,0.00,0.00|830.65,74.55,0.00,1.42857,1.42857,0.14,1,0.00,0.00|830.65,74.55,0.00,1.50000,1.50000,0.00,1,0.00,0.00</string>
          </dict>
          <key>i5327</key>
          <dict>
            <key>class</key>
            <string>asset37</string>
            <key>zIndex</key>
            <integer>0</integer>
            <key>frames</key>
            <string>1156.20,143.00,0.00,1.00000,1.26549,0.00,0,0.00,0.00|1030.20,143.00,0.00,1.00000,1.26549,0.20,0,0.00,0.00|904.20,143.00,0.00,1.00000,1.26549,0.40,0,0.00,0.00|778.20,143.00,0.00,1.00000,1.26549,0.60,0,0.00,0.00|652.20,143.00,0.00,1.00000,1.26549,0.80,0,0.00,0.00|526.20,143.00,0.00,1.00000,1.26549,1.00,2,0.00,0.00|null||||||||</string>
          </dict>
          <key>i5361</key>
          <dict>
            <key>class</key>
            <string>asset38</string>
            <key>zIndex</key>
            <integer>0</integer>
            <key>frames</key>
            <string>null|||||830.65,74.55,0.00,1.00000,1.00000,1.00,0,0.00,0.00|||||||||</string>
          </dict>
          <key>i5329</key>
          <dict>
            <key>class</key>
            <string>asset37</string>
            <key>zIndex</key>
            <integer>1</integer>
            <key>frames</key>
            <string>0.00,143.00,0.00,1.00000,1.26549,0.00,1,0.00,0.00|105.25,143.00,0.00,1.00000,1.26549,0.20,1,0.00,0.00|210.50,143.00,0.00,1.00000,1.26549,0.40,1,0.00,0.00|315.70,143.00,0.00,1.00000,1.26549,0.60,1,0.00,0.00|420.95,143.00,0.00,1.00000,1.26549,0.80,1,0.00,0.00|526.20,143.00,0.00,1.00000,1.26549,1.00,3,0.00,0.00|null||||||||</string>
          </dict>
        </dict>
      </dict>
    </dict>
  </dict>
</plist>