<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>homePage_000000</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{642,962}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{640,960}</string>
      </dict>
      <key>homePage_000001</key>
      <dict>
        <key>frame</key>
        <string>{{0,1152},{480,87}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{478,85}</string>
      </dict>
      <key>homePage_000002</key>
      <dict>
        <key>frame</key>
        <string>{{498,962},{66,59}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{64,57}</string>
      </dict>
      <key>homePage_000003</key>
      <dict>
        <key>frame</key>
        <string>{{0,962},{498,190}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{496,188}</string>
      </dict>
      <key>homePage_000004</key>
      <dict>
        <key>frame</key>
        <string>{{498,1058},{45,37}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{43,35}</string>
      </dict>
      <key>homePage_000005</key>
      <dict>
        <key>frame</key>
        <string>{{498,1021},{45,37}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{43,35}</string>
      </dict>
      <key>homePage_000006</key>
      <dict>
        <key>frame</key>
        <string>{{480,1152},{206,79}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{204,77}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>flaxVersion</key>
      <real>2.33</real>
      <key>fps</key>
      <integer>24</integer>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>homePage.png</string>
      <key>size</key>
      <string>{842,1262}</string>
      <key>textureFileName</key>
      <string>homePage.png</string>
    </dict>
    <key>displays</key>
    <dict>
      <key>asset0</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>-0.00008</real>
        <key>anchorY</key>
        <real>1.00000</real>
        <key>start</key>
        <integer>0</integer>
        <key>end</key>
        <integer>0</integer>
      </dict>
      <key>asset1</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>0.50000</real>
        <key>anchorY</key>
        <real>0.52941</real>
        <key>start</key>
        <integer>1</integer>
        <key>end</key>
        <integer>1</integer>
      </dict>
      <key>asset3</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>0.50781</real>
        <key>anchorY</key>
        <real>0.53509</real>
        <key>start</key>
        <integer>2</integer>
        <key>end</key>
        <integer>2</integer>
      </dict>
      <key>asset4</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>0.50000</real>
        <key>anchorY</key>
        <real>0.42766</real>
        <key>start</key>
        <integer>3</integer>
        <key>end</key>
        <integer>3</integer>
      </dict>
      <key>asset5</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>0.50581</real>
        <key>anchorY</key>
        <real>0.50143</real>
        <key>start</key>
        <integer>4</integer>
        <key>end</key>
        <integer>5</integer>
      </dict>
      <key>asset6</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>0.50956</real>
        <key>anchorY</key>
        <real>0.51299</real>
        <key>start</key>
        <integer>6</integer>
        <key>end</key>
        <integer>6</integer>
      </dict>
    </dict>
    <key>mcs</key>
    <dict>
      <key>asset2</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>totalFrames</key>
        <integer>17</integer>
        <key>rect</key>
        <string>0,0,355.95,141.70</string>
        <key>anchorX</key>
        <real>0.50457</real>
        <key>anchorY</key>
        <real>0.50247</real>
        <key>children</key>
        <dict>
          <key>i1033</key>
          <dict>
            <key>class</key>
            <string>asset6</string>
            <key>zIndex</key>
            <integer>0</integer>
            <key>frames</key>
            <string>179.60,71.70,0.00,1.00000,1.00000,1.00,0,0.00,0.00||||||||||||||||</string>
          </dict>
          <key>i1129</key>
          <dict>
            <key>class</key>
            <string>asset6</string>
            <key>zIndex</key>
            <integer>2</integer>
            <key>frames</key>
            <string>null|||||||179.60,71.70,0.00,1.17599,1.17599,0.50,2,0.00,0.00|179.60,71.70,0.00,1.23730,1.23730,0.45,2,0.00,0.00|179.60,71.65,0.00,1.29866,1.29866,0.39,2,0.00,0.00|179.60,71.70,0.00,1.35997,1.35997,0.33,2,0.00,0.00|179.60,71.65,0.00,1.42131,1.42131,0.28,2,0.00,0.00|179.60,71.70,0.00,1.48265,1.48265,0.22,1,0.00,0.00|179.60,71.65,0.00,1.54398,1.54398,0.17,1,0.00,0.00|179.60,71.70,0.00,1.60530,1.60530,0.11,1,0.00,0.00|179.60,71.65,0.00,1.66664,1.66664,0.05,1,0.00,0.00|179.60,71.70,0.00,1.72797,1.72797,0.00,1,0.00,0.00</string>
          </dict>
          <key>i1127</key>
          <dict>
            <key>class</key>
            <string>asset6</string>
            <key>zIndex</key>
            <integer>1</integer>
            <key>frames</key>
            <string>null||179.60,71.70,0.00,1.17599,1.17599,0.50,1,0.00,0.00|179.60,71.70,0.00,1.23730,1.23730,0.45,1,0.00,0.00|179.60,71.65,0.00,1.29866,1.29866,0.39,1,0.00,0.00|179.60,71.70,0.00,1.35997,1.35997,0.33,1,0.00,0.00|179.60,71.65,0.00,1.42131,1.42131,0.28,1,0.00,0.00|179.60,71.70,0.00,1.48265,1.48265,0.22,1,0.00,0.00|179.60,71.65,0.00,1.54398,1.54398,0.17,1,0.00,0.00|179.60,71.70,0.00,1.60530,1.60530,0.11,1,0.00,0.00|179.60,71.65,0.00,1.66664,1.66664,0.05,1,0.00,0.00|179.60,71.70,0.00,1.72797,1.72797,0.00,1,0.00,0.00|null||||</string>
          </dict>
        </dict>
      </dict>
      <key>homePage_as</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>totalFrames</key>
        <integer>1</integer>
        <key>rect</key>
        <string>0,0,639.95,960.05</string>
        <key>anchorX</key>
        <real>0.49996</real>
        <key>anchorY</key>
        <real>0.50003</real>
        <key>children</key>
        <dict>
          <key>i1062</key>
          <dict>
            <key>class</key>
            <string>asset1</string>
            <key>zIndex</key>
            <integer>1</integer>
            <key>frames</key>
            <string>319.75,205.10,0.00,1.00000,1.00000,0.75,1,0.00,0.00</string>
          </dict>
          <key>soundButton</key>
          <dict>
            <key>class</key>
            <string>asset5</string>
            <key>zIndex</key>
            <integer>5</integer>
            <key>frames</key>
            <string>572.55,884.10,0.00,1.00000,1.00000,1.00,5,0.00,0.00</string>
          </dict>
          <key>i1066</key>
          <dict>
            <key>class</key>
            <string>asset3</string>
            <key>zIndex</key>
            <integer>3</integer>
            <key>frames</key>
            <string>573.10,885.65,0.00,1.00000,1.00000,1.00,3,0.00,0.00</string>
          </dict>
          <key>i1095</key>
          <dict>
            <key>class</key>
            <string>asset4</string>
            <key>zIndex</key>
            <integer>4</integer>
            <key>frames</key>
            <string>319.95,782.05,0.00,1.00000,1.00000,1.00,4,0.00,0.00</string>
          </dict>
          <key>playButton</key>
          <dict>
            <key>class</key>
            <string>asset2</string>
            <key>zIndex</key>
            <integer>2</integer>
            <key>frames</key>
            <string>317.30,202.10,0.00,1.00000,1.00000,1.00,2,0.00,0.00</string>
          </dict>
          <key>i1059</key>
          <dict>
            <key>class</key>
            <string>asset0</string>
            <key>zIndex</key>
            <integer>0</integer>
            <key>frames</key>
            <string>-0.05,960.05,0.00,1.00000,1.00000,1.00,0,0.00,0.00</string>
          </dict>
        </dict>
      </dict>
    </dict>
  </dict>
</plist>