<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>propDetail_000000</key>
      <dict>
        <key>frame</key>
        <string>{{552,778},{66,98}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{64,96}</string>
      </dict>
      <key>propDetail_000001</key>
      <dict>
        <key>frame</key>
        <string>{{486,778},{66,98}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{64,96}</string>
      </dict>
      <key>propDetail_000002</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{584,778}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{582,776}</string>
      </dict>
      <key>propDetail_000003</key>
      <dict>
        <key>frame</key>
        <string>{{207,778},{204,73}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{202,71}</string>
      </dict>
      <key>propDetail_000004</key>
      <dict>
        <key>frame</key>
        <string>{{411,778},{75,42}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{73,40}</string>
      </dict>
      <key>propDetail_000005</key>
      <dict>
        <key>frame</key>
        <string>{{0,778},{207,79}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{205,77}</string>
      </dict>
      <key>propDetail_000006</key>
      <dict>
        <key>frame</key>
        <string>{{411,820},{74,42}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{72,40}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>flaxVersion</key>
      <real>2.33</real>
      <key>fps</key>
      <integer>24</integer>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>propDetail.png</string>
      <key>size</key>
      <string>{684,878}</string>
      <key>textureFileName</key>
      <string>propDetail.png</string>
    </dict>
    <key>displays</key>
    <dict>
      <key>asset16</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>0.00000</real>
        <key>anchorY</key>
        <real>1.00000</real>
        <key>start</key>
        <integer>0</integer>
        <key>end</key>
        <integer>0</integer>
      </dict>
      <key>asset17</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>0.61641</real>
        <key>anchorY</key>
        <real>0.66771</real>
        <key>start</key>
        <integer>1</integer>
        <key>end</key>
        <integer>1</integer>
      </dict>
      <key>asset19</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>-0.03497</real>
        <key>anchorY</key>
        <real>1.00045</real>
        <key>start</key>
        <integer>2</integer>
        <key>end</key>
        <integer>2</integer>
      </dict>
      <key>asset20</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>0.00000</real>
        <key>anchorY</key>
        <real>1.07042</real>
        <key>start</key>
        <integer>3</integer>
        <key>end</key>
        <integer>3</integer>
      </dict>
      <key>asset21</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>-0.11781</real>
        <key>anchorY</key>
        <real>1.05125</real>
        <key>start</key>
        <integer>4</integer>
        <key>end</key>
        <integer>4</integer>
      </dict>
      <key>asset22</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>-0.01951</real>
        <key>anchorY</key>
        <real>1.10390</real>
        <key>start</key>
        <integer>5</integer>
        <key>end</key>
        <integer>5</integer>
      </dict>
      <key>asset63</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>0.50000</real>
        <key>anchorY</key>
        <real>0.38000</real>
        <key>start</key>
        <integer>6</integer>
        <key>end</key>
        <integer>6</integer>
      </dict>
    </dict>
    <key>mcs</key>
    <dict>
      <key>asset18</key>
      <dict>
        <key>type</key>
        <string>button</string>
        <key>totalFrames</key>
        <integer>1</integer>
        <key>rect</key>
        <string>0,0,217.00,98.00</string>
        <key>anchorX</key>
        <real>0.49171</real>
        <key>anchorY</key>
        <real>0.51582</real>
        <key>children</key>
        <dict>
          <key>i1399</key>
          <dict>
            <key>class</key>
            <string>asset22</string>
            <key>zIndex</key>
            <integer>0</integer>
            <key>frames</key>
            <string>0.00,98.00,0.00,1.00000,1.00000,1.00,0,0.00,0.00</string>
          </dict>
          <key>i1401</key>
          <dict>
            <key>class</key>
            <string>asset21</string>
            <key>zIndex</key>
            <integer>1</integer>
            <key>frames</key>
            <string>61.25,75.00,0.00,1.00000,1.00000,1.00,1,0.00,0.00</string>
          </dict>
        </dict>
      </dict>
      <key>propDetail_as</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>totalFrames</key>
        <integer>1</integer>
        <key>rect</key>
        <string>0,0,640.00,960.00</string>
        <key>anchorX</key>
        <real>0.50156</real>
        <key>anchorY</key>
        <real>0.49880</real>
        <key>children</key>
        <dict>
          <key>i1434</key>
          <dict>
            <key>class</key>
            <string>asset19</string>
            <key>zIndex</key>
            <integer>2</integer>
            <key>frames</key>
            <string>1.50,942.35,0.00,1.00000,1.00000,1.00,2,0.00,0.00</string>
          </dict>
          <key>maskLayer</key>
          <dict>
            <key>class</key>
            <string>asset17</string>
            <key>zIndex</key>
            <integer>0</integer>
            <key>frames</key>
            <string>394.50,641.00,0.00,10.00000,10.00000,1.00,0,0.00,0.00</string>
          </dict>
          <key>backButton</key>
          <dict>
            <key>class</key>
            <string>asset18</string>
            <key>zIndex</key>
            <integer>1</integer>
            <key>frames</key>
            <string>303.70,126.40,0.00,1.00000,1.00000,1.00,1,0.00,0.00</string>
          </dict>
        </dict>
      </dict>
    </dict>
  </dict>
</plist>