<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>upgradeAbilityBackground_000000</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{642,963}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{640,961}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>flaxVersion</key>
      <real>2.33</real>
      <key>fps</key>
      <integer>24</integer>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>upgradeAbilityBackground.png</string>
      <key>size</key>
      <string>{642,963}</string>
      <key>textureFileName</key>
      <string>upgradeAbilityBackground.png</string>
    </dict>
    <key>displays</key>
    <dict>
      <key>background_as</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>0.50016</real>
        <key>anchorY</key>
        <real>0.50000</real>
        <key>start</key>
        <integer>0</integer>
        <key>end</key>
        <integer>0</integer>
      </dict>
    </dict>
  </dict>
</plist>