<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>bossBullet/bossBullet0101.png</key>
			<dict>
				<key>frame</key>
				<string>{{959,526},{23,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{23,50}</string>
			</dict>
			<key>bossBullet/bossBullet0102.png</key>
			<dict>
				<key>frame</key>
				<string>{{1006,0},{18,17}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{18,17}</string>
			</dict>
			<key>bossBullet/bossBullet0103.png</key>
			<dict>
				<key>frame</key>
				<string>{{960,0},{46,116}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{46,116}</string>
			</dict>
			<key>bossBullet/bossBullet010401.png</key>
			<dict>
				<key>frame</key>
				<string>{{699,1111},{100,150}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,150}</string>
			</dict>
			<key>bossBullet/bossBullet010402.png</key>
			<dict>
				<key>frame</key>
				<string>{{799,1200},{100,150}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,150}</string>
			</dict>
			<key>bossBullet/bossBullet010403.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,986},{100,150}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{100,150}</string>
			</dict>
			<key>bossBullet/bossBullet010404.png</key>
			<dict>
				<key>frame</key>
				<string>{{150,986},{100,150}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{100,150}</string>
			</dict>
			<key>bossBullet/bossBullet0105.png</key>
			<dict>
				<key>frame</key>
				<string>{{800,390},{36,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{36,64}</string>
			</dict>
			<key>bossBullet/bossBullet020101.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,211},{175,175}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{175,175}</string>
			</dict>
			<key>bossBullet/bossBullet020102.png</key>
			<dict>
				<key>frame</key>
				<string>{{175,211},{175,175}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{175,175}</string>
			</dict>
			<key>bossBullet/bossBullet020103.png</key>
			<dict>
				<key>frame</key>
				<string>{{350,211},{175,175}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{175,175}</string>
			</dict>
			<key>bossBullet/bossBullet020104.png</key>
			<dict>
				<key>frame</key>
				<string>{{525,211},{175,175}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{175,175}</string>
			</dict>
			<key>bossBullet/bossBullet020105.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,386},{175,175}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{175,175}</string>
			</dict>
			<key>bossBullet/bossBullet020106.png</key>
			<dict>
				<key>frame</key>
				<string>{{175,386},{175,175}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{175,175}</string>
			</dict>
			<key>bossBullet/bossBullet020107.png</key>
			<dict>
				<key>frame</key>
				<string>{{350,386},{175,175}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{175,175}</string>
			</dict>
			<key>bossBullet/bossBullet020108.png</key>
			<dict>
				<key>frame</key>
				<string>{{525,386},{175,175}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{175,175}</string>
			</dict>
			<key>bossBullet/bossBullet020109.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,811},{175,175}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{175,175}</string>
			</dict>
			<key>bossBullet/bossBullet020110.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,561},{175,175}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{175,175}</string>
			</dict>
			<key>bossBullet/bossBullet020111.png</key>
			<dict>
				<key>frame</key>
				<string>{{175,811},{175,175}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{175,175}</string>
			</dict>
			<key>bossBullet/bossBullet020112.png</key>
			<dict>
				<key>frame</key>
				<string>{{175,561},{175,175}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{175,175}</string>
			</dict>
			<key>bossBullet/bossBullet020113.png</key>
			<dict>
				<key>frame</key>
				<string>{{350,561},{175,175}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{175,175}</string>
			</dict>
			<key>bossBullet/bossBullet0202.png</key>
			<dict>
				<key>frame</key>
				<string>{{1006,17},{18,16}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{18,16}</string>
			</dict>
			<key>bossBullet/bossBullet0301.png</key>
			<dict>
				<key>frame</key>
				<string>{{838,386},{22,21}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{22,21}</string>
			</dict>
			<key>bossBullet/bossBullet0302.png</key>
			<dict>
				<key>frame</key>
				<string>{{995,353},{26,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{26,60}</string>
			</dict>
			<key>bossBullet/bossBullet0501.png</key>
			<dict>
				<key>frame</key>
				<string>{{839,211},{20,71}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{20,71}</string>
			</dict>
			<key>bossBullet/bossBullet0502.png</key>
			<dict>
				<key>frame</key>
				<string>{{800,311},{38,79}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{38,79}</string>
			</dict>
			<key>bossBullet/bossBullet0503.png</key>
			<dict>
				<key>frame</key>
				<string>{{839,282},{70,20}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{70,20}</string>
			</dict>
			<key>bossBullet/bossBullet0401.png</key>
			<dict>
				<key>frame</key>
				<string>{{960,207},{63,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{63,64}</string>
			</dict>
			<key>bossBullet/bossBullet0601.png</key>
			<dict>
				<key>frame</key>
				<string>{{995,270},{27,83}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{27,83}</string>
			</dict>
			<key>bossBullet/bossBullet0602.png</key>
			<dict>
				<key>frame</key>
				<string>{{994,413},{30,58}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{30,58}</string>
			</dict>
			<key>bossBullet/bossBullet0701.png</key>
			<dict>
				<key>frame</key>
				<string>{{960,270},{35,112}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{35,112}</string>
			</dict>
			<key>bossBullet/bossBullet0702.png</key>
			<dict>
				<key>frame</key>
				<string>{{959,382},{35,84}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{35,84}</string>
			</dict>
			<key>bossBullet/bossBullet0801.png</key>
			<dict>
				<key>frame</key>
				<string>{{838,352},{20,34}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{20,34}</string>
			</dict>
			<key>bossBullet/bossBullet0802.png</key>
			<dict>
				<key>frame</key>
				<string>{{800,520},{50,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{50,50}</string>
			</dict>
			<key>bossBullet/bossBullet080301.png</key>
			<dict>
				<key>frame</key>
				<string>{{860,0},{100,300}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,300}</string>
			</dict>
			<key>bossBullet/bossBullet080302.png</key>
			<dict>
				<key>frame</key>
				<string>{{700,211},{100,300}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,300}</string>
			</dict>
			<key>bossBullet/bossBullet080303.png</key>
			<dict>
				<key>frame</key>
				<string>{{859,300},{100,300}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,300}</string>
			</dict>
			<key>bossBullet/bossBullet080304.png</key>
			<dict>
				<key>frame</key>
				<string>{{700,511},{100,300}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,300}</string>
			</dict>
			<key>bossBullet/bossBullet080305.png</key>
			<dict>
				<key>frame</key>
				<string>{{800,600},{100,300}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,300}</string>
			</dict>
			<key>bossBullet/bossBullet080306.png</key>
			<dict>
				<key>frame</key>
				<string>{{900,763},{100,300}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,300}</string>
			</dict>
			<key>bossBullet/bossBullet080307.png</key>
			<dict>
				<key>frame</key>
				<string>{{699,811},{100,300}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,300}</string>
			</dict>
			<key>bossBullet/bossBullet080308.png</key>
			<dict>
				<key>frame</key>
				<string>{{799,900},{100,300}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,300}</string>
			</dict>
			<key>bossBullet/bossBullet080309.png</key>
			<dict>
				<key>frame</key>
				<string>{{899,1063},{100,300}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,300}</string>
			</dict>
			<key>bossBullet/bossBullet090101.png</key>
			<dict>
				<key>frame</key>
				<string>{{525,561},{180,169}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{180,169}</string>
			</dict>
			<key>bossBullet/bossBullet090102.png</key>
			<dict>
				<key>frame</key>
				<string>{{350,736},{180,169}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{180,169}</string>
			</dict>
			<key>bossBullet/bossBullet090103.png</key>
			<dict>
				<key>frame</key>
				<string>{{519,741},{180,169}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{180,169}</string>
			</dict>
			<key>bossBullet/bossBullet090104.png</key>
			<dict>
				<key>frame</key>
				<string>{{519,910},{180,169}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{180,169}</string>
			</dict>
			<key>bossBullet/bossBullet090105.png</key>
			<dict>
				<key>frame</key>
				<string>{{350,916},{180,169}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{180,169}</string>
			</dict>
			<key>bossBullet/bossBullet090106.png</key>
			<dict>
				<key>frame</key>
				<string>{{519,1079},{180,169}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{180,169}</string>
			</dict>
			<key>bossBullet/bossBullet0902.png</key>
			<dict>
				<key>frame</key>
				<string>{{982,540},{31,31}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{31,31}</string>
			</dict>
			<key>bossBullet/bossBullet0903.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,736},{68,70}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{68,70}</string>
			</dict>
			<key>bossBullet/bossBullet040201.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{211,215}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{211,215}</string>
			</dict>
			<key>bossBullet/bossBullet040202.png</key>
			<dict>
				<key>frame</key>
				<string>{{215,0},{211,215}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{211,215}</string>
			</dict>
			<key>bossBullet/bossBullet040203.png</key>
			<dict>
				<key>frame</key>
				<string>{{430,0},{211,215}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{211,215}</string>
			</dict>
			<key>bossBullet/bossBullet040204.png</key>
			<dict>
				<key>frame</key>
				<string>{{645,0},{211,215}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{211,215}</string>
			</dict>
			<key>bossBullet/bossBullet0203.png</key>
			<dict>
				<key>frame</key>
				<string>{{993,471},{22,69}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{22,69}</string>
			</dict>
			<key>bossBullet/bossBullet0204.png</key>
			<dict>
				<key>frame</key>
				<string>{{800,211},{39,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{39,100}</string>
			</dict>
			<key>bossBullet/bossBullet0904.png</key>
			<dict>
				<key>frame</key>
				<string>{{959,576},{65,187}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{65,187}</string>
			</dict>
			<key>bossBullet/bossBullet1001.png</key>
			<dict>
				<key>frame</key>
				<string>{{959,466},{34,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{34,60}</string>
			</dict>
			<key>bossBullet/bossBullet1002.png</key>
			<dict>
				<key>frame</key>
				<string>{{800,454},{43,66}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{43,66}</string>
			</dict>
			<key>bossBullet/bossBullet1003.png</key>
			<dict>
				<key>frame</key>
				<string>{{960,116},{50,91}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{50,91}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>bossBullet.png</string>
			<key>realTextureFileName</key>
			<string>bossBullet.png</string>
			<key>size</key>
			<string>{1024,2048}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1024</integer>
			<key>height</key>
			<integer>2048</integer>
		</dict>
	</dict>
</plist>