<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>bulletDeadEffect/characterBulletDeadEffect0101.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{49,54}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{49,54}</string>
			</dict>
			<key>bulletDeadEffect/characterBulletDeadEffect0102.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,54},{49,54}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{49,54}</string>
			</dict>
			<key>bulletDeadEffect/characterBulletDeadEffect0201.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,108},{49,54}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{49,54}</string>
			</dict>
			<key>bulletDeadEffect/characterBulletDeadEffect0202.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,162},{49,54}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{49,54}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>bulletDeadEffect.png</string>
			<key>realTextureFileName</key>
			<string>bulletDeadEffect.png</string>
			<key>size</key>
			<string>{64,256}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>64</integer>
			<key>height</key>
			<integer>256</integer>
		</dict>
	</dict>
</plist>